.image{
    height:60vh;
    width:80vw ;
}
.new{
    grid-template-columns: auto auto ;
}

.padding{
    padding-top: 30px;
}


.heading li{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}